@mixin flex-grid($spacing: 1rem, $basis: 50%) {
  display: flex;
  flex-wrap: wrap;
  margin: -$spacing;

  > * {
    flex: 1 1 $basis;
    padding: $spacing;
  }
}

@mixin auto-fit-grid($spacing: 1rem, $min: 10rem, $max: 1fr) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));
  grid-gap: $spacing;
}

@mixin font-heading {
  font-family: $font-heading;
  font-weight: $weight-bold;
}

@mixin font-met {
  font-family: $font-main;
  font-weight: $weight-normal;
}

@mixin focus-outline {
  outline: 4px solid $accent-200;
  outline-offset: 3px;
}

@mixin page-padding {
  padding-left: 1.125rem;
  padding-right: 1.125rem;

  @include media-up(small) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include media-up(large) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@mixin sticky-top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

@mixin equals($size: 1em, $shade: $blue-400) {
  position: absolute;
  content: '';
  width: calc(100% + 50vw + 20px);
  margin-left: 50vw;
  transform: translateX(-50vw);
  left: -50vw;
  height: 2.5 * $size;
  border-top: $size solid $shade;
  border-bottom: $size solid $shade;
  z-index: -1;
}

@mixin link {
  text-decoration: underline;
  font-weight: $weight-semibold;
  color: $blue-600;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: -2%;
    bottom: -2%;
    height: 104%;
    width: 0;
    z-index: -1;
    transition: none;
    background: $accent-100;
    @include transition();
  }

  &:hover {
    color: $blue-800;

    &:after {
      width: 104%;
    }

    &:focus {
      outline: none;
    }
  }

}


@mixin flex {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-col {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

// Transition Mixin
@mixin transition($properties...) {
  transition: $properties 0.2s ease-in;
  -webkit-transition: $properties 0.2s ease-in;
  -moz-transition: $properties 0.2s ease-in;
  -ms-transition: $properties 0.2s ease-in;
  -o-transition: $properties 0.2s ease-in;
}

@mixin small-caps-title {
  @include font-heading;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $blue-600;
  font-size: $smallText;
  font-size: $smallText-clamp;
  font-weight: $weight-semibold;
  margin-bottom: 0.25rem;
}

@mixin block {
  margin-bottom: 2rem;

  @include media-up(small) {
    border-left: 4px solid $blue-400;
    padding-left: 1rem;
  }
}

@mixin list-divider {
  position: absolute;
  content: '';
  display: block;
  background: $blue-400;
  background-image: none;
  left: -1rem;
  top: 0.3em;
  height: 1em;
  width: 3px;
  transform: skew(-$angle);
}

@mixin list--chevrons {
  margin-left: 0;

  > li {
    list-style-type: none;
    position: relative;
    padding-left: 1.25em;
    margin-bottom: 0.5em;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0.3em;
      display: inline-block;
      color: $blue-400;
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focussable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.34 72' fill='%236dcfff'%3E%3Cpath d='M41.1 61.3L10.6 36l30.5-25.3V.5L1.2 33.6v4.9l39.9 33V61.3z'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      height: 1em;
      width: 0.5em;
      transform: rotate(180deg);
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@mixin list--inline-divider {
  margin-bottom: 0;

  > li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 30px;
    padding-left: 0;

    &:before {
      @include list-divider();
    }

    &:first-child::before {
      display: none;
    }
  }
}

@mixin limit-width {
  max-width: 44rem;
}