// Global scss variables

// colors
$blue-dark-3: 	#29628A;
$blue-dark-4: 	#00375C;
$blue-dark-5:		#002B47;

$blue-grey-1: 	#F5FBFD;
$blue-grey:			#EDF5FB; // #FAFCFE bg on forms?
$blue-grey-2: 	#F7F9FA;

$blue-light-1:	#F0FAFF; // bg patterns
$blue-light-2: 	#B3E6FF;
$blue-light-3: 	#6DCFFF; 
$blue-light-4: 	#2F7AC0;

$accent-orange: #FF8000;

// $theme: (
// 	dark:
// )
$colors: (
	"dark": $blue-dark-4,
	"darkest": $blue-dark-5, 
);

// spacing

// font sizes

// font families
$font-main: 'Metropolis', system-ui, BlinkMacSystemFont, sans-serif;
$font-heading: 'Bai Jamjuree', sans-serif;