// spacing
$page-width: 1300px;

// line and letter space
$line-height: 1.6;
$line-height-small: 1.1;
$letter-space: 0.3pt;

// slant angle
$angle: 20deg;

// Colors
$neutral-100: #f0faff;
$neutral-150: #f3fbff;
$neutral-200: #c9e2f5;
 
$blue-100:  #e7ffff;
$blue-200:  #caf8ff;
$blue-300:  #a1e9ff;
$blue-400:  #6dcfff;
$blue-500:  #48a6e5;
$blue-600:  #2271c5; 
$blue-700:  #29628A;
$blue-800:  #21406E;
$blue-900:  #00375C;
$blue-1000: #002B47;

$accent-100: #ffcc33;
$accent-200: #FFBF00;

$text-primary: #003A61;
$text-secondary: #27475C;
$text-neutral: #3C4043;

$text-shadow-on-dark: 0 2px 4px $blue-1000;
$box-shadow: 0px 2px 4px #50616c50;

// Gradients
$blue-gradient-1000: linear-gradient(to bottom, $blue-900, $blue-1000);
$btn-gradient: linear-gradient(to top, #2BABD9, #59DBFF);
$btn-hoverGradient: linear-gradient(to top, $blue-400, $blue-300);
$intro-gradient: linear-gradient(to bottom, #256199 1%, #00182e 97%);
$projectImg-gradient: linear-gradient(to bottom, $blue-600, #183D60);


