@mixin flex-grid($spacing: 1rem, $basis: 50%) {
  display: flex;
  flex-wrap: wrap;
  margin: -$spacing;

  > * {
    flex: 1 1 $basis;
    padding: $spacing;
  }
}

@mixin font-heading {
  font-family: $font-heading;
  // letter-spacing: 2px;
  letter-spacing: 0.02em;
  font-weight: $weight-bold;
	// text-transform: uppercase;
}

@mixin font-met {
  font-family: $font-main;
	font-weight: $weight-light;
}

@mixin focus-outline {
  outline: 4px solid $accent-orange;
	outline-offset: 3px;
}

@mixin page-padding {
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	@include media-up(large) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

@mixin sticky-top {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

@mixin equals($size: 1em,$shade: $blue-light-1) {
  position: absolute;
  content: '';
  width: calc(100% + 50vw + 20px);
  margin-left: 50vw;
  transform: translateX(-50vw);
  left: -50vw;
  height: 2.5 * $size;
  border-top: $size solid $shade;
  border-bottom: $size solid $shade;
  z-index: -1;
}

@mixin link {
  position: relative;

  &:after {
		content: "";
		position: absolute;
		left: -2%;
		bottom: -2%;
		height: 104%;
		width: 0;
		z-index: -1;
		transition: none;
		background: lighten($accent-orange, 10);
		@include transition();
	}

	&:hover {
		color: $blue-800;

		&:after {
			width: 104%;
		}
	}
}


@mixin flex {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-col {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

// Transition Mixin
@mixin transition($properties...) {
	transition: $properties 0.2s ease-in;
	-webkit-transition: $properties 0.2s ease-in;
	-moz-transition: $properties 0.2s ease-in;
	-ms-transition: $properties 0.2s ease-in;
	-o-transition: $properties 0.2s ease-in;
}