// Page Layout
.page-width {
	max-width: $page-width;
	margin: 0 auto;
}

.page-padding {
	@include page-padding;
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include media-up(small) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	@include media-up(large) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}


// Decorative + subheadings
.equals-decal {
	position: relative;
  display: inline-block;
  margin-bottom: 1.2em;

	&:before,
	&:after {
		position: absolute;
		content: "";
		width: 50vw;
		left: -51vw;
		background-color: $blue-400;
		opacity: 0.3;
		height: 0.3em;

		@include media-up(medium) {
			left: -50.5vw;
		}
	}
	&:before {
		top: 0.22em
	}
	&:after {
		top: 0.62em;
	}
}

// Main headings
.page-heading {
	font-size: $jumbo1;
	font-size: $jumbo1-clamp;
	color: $blue-600;
	margin-bottom: 1.5rem;
	margin-bottom: clamp(0.75em, calc(8vh + 1px), 1.5em);

	&.has-subheading {
		margin-bottom: 1rem;
		margin-bottom: clamp(1rem, calc(3vh + 1px), 3rem);
		margin-bottom: clamp(0.4em, calc(2vh + 1px), 1.5em);
	}
}

.small-caps-title {
	@include small-caps-title();
}

// Lists
.list--inline {
	display: flex;
}

.list--chevrons {
	@include list--chevrons;
}

// Accessibility
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

// Helpers
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.nowrap {
	white-space: nowrap;
}

// NOTE: Affects page-padding, hence duplication
.full-bleed {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);

	.page-padding {
		padding-left: 1.55rem;
		padding-right: 1.55rem;

		@include media-up(small) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		@include media-up(large) {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}
}

.limit-width {
	@include limit-width;
}

.h-center {
	margin-right: auto;
	margin-left: auto;
}
.mb-small {
	margin-bottom: 0.5rem !important;
}
.mb {
	margin-bottom: 1rem !important;
}
.mb-large {
	margin-bottom: 2.5rem !important;
}
.mb-tiny {
	margin-bottom: 0.25rem !important;
}